.caja-iconos-sy{
    height: 125px;
}
.ancho-iconos-sy{
    width: 125px;
}
.img-iconos-sy{
    width: 100%;
    object-fit: contain;
}

.links-sy{
    color: $color-principal !important;
    
}

.links-sy:hover{
    text-decoration: underline !important;
}