
.links-sy{
    color: $color-principal !important;
    
}

.links-sy:hover{
    text-decoration: underline !important;
}

.boton-enviar-sy{
    @include boton-enviar
}

.boton-enviar-sy:hover{
   @include boton-enviar-hover 
}