
//body {
    //background-color: $color-fondo;
//}

a {
    text-decoration: none;
}

//¿De dónde es esto?
.price{
    font-family: $titulos;
        font-size: 1.625rem;  //26px
        font-weight: 600;
        color:$color-principal;
        line-height: 2rem;
}
form.cart {
    display: flex;
    align-items: center;
    gap: 1rem;

    .quantity {
        margin: 0;
        
        input.qty {
            // Estilos opcionales para el input
            width: 60px;
        }
    }

    .single_add_to_cart_button {
        // Estilos opcionales para el botón
        margin: 0;
        background-color: #ffffff !important;
        color: $azul-activo !important;
        font-family: $parrafos;
        font-size: $fuente-boton;
        border-radius: 22px;
        padding: 1.438rem 3.5rem; //23px 56px
        border: 3px solid $azul-activo;
        text-decoration: none;
        &:hover{
         color: $color-fondo !important;
        background-color: $azul-activo !important;
        text-decoration: none;
        }
    }
}
