/* -------- RESPONSIVE HEADER Y FOOTER -------- */
.accordion-header {
    display: none; 
}

@media (max-width: 768px) {
 
    .accordion-body {
        display: none;
        padding: 10px 0 15px;
        text-align: left;
    }

    .footer-content {
        width: 100%;
        align-items: stretch;
        text-align: left;
        gap: 0;
    }

    /* Mostrar los headers del acordeón solo en mobile */
    .accordion-header {
        display: flex;
        width: 100%;
        justify-content: space-between;
        background: none;
        border: none;
        color: #ffffff;
        padding: 15px 0;
        font-size: 18px;
        cursor: pointer;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    }

    .accordion-icon {
        font-size: 22px;
        transition: transform 0.3s ease;
    }

    /* Cuerpo abierto */
    .accordion-item.active .accordion-body {
        display: block;
    }

    /* Rotación de la cruz */
    .accordion-item.active .accordion-icon {
        transform: rotate(45deg);
    }

    .footer-section {
        width: 100%;
        margin-bottom: 0;
    }

    .footer-logo {
        margin-top: 30px;
        text-align: center;
        width: 100%;
    }
}


.footer-bottom p {
    color: white !important;
    margin: 0;
}

@media (max-width: 768px) {
    .footer-section h4.h4footer {
        display: none;
    }
}