/* Single producto */


/* Imagen principal */
.product-main-img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

/* Miniaturas */
.product-thumb {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.2s;
}

.product-thumb:hover {
    transform: scale(1.05);
}

/* Título */
.product-title {
    font-size: 2rem;
    font-weight: 700;
    color: #26364D;
}

/* Galería responsive */
@media (min-width: 992px) {
    .single-product-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }
}

span {
    color: #0470B4;
}
/* Contenedor */
.especificaciones-container {
    width: 100%;
}

/* Barra superior tipo dropdown */
.especificaciones-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #6EC1FF;
    /* línea celeste */
    cursor: pointer;
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    user-select: none;
}

/* Flecha */
.flecha {
    font-size: 1.3rem;
    transition: transform .3s ease;
}

/* Cuando el dropdown está abierto → rotar flecha */
#specs.show+.especificaciones-header .flecha {
    transform: rotate(180deg);
}

/* Alternativa: con JS-free solo CSS */
.especificaciones-header[aria-expanded="true"] .flecha {
    transform: rotate(180deg);
}


.woocommerce-Price-amount {
    color: #0471B4;

}
.woocommerce-Price-currencySymbol {
color: #0471B4;

}


.woocommerce a.remove {
    display: block !important;
    font-size: 1.5em !important;
    height: 1.5em !important;
    width: 1.5em !important;
    text-align: center !important;
    line-height: 1 !important; 
    color: $color-principal !important;
    text-decoration: none !important;
    font-weight: 700 !important;
    border: 0 !important;
}

.woocommerce a.remove:hover {
    color: #000000 !important;
    background: transparent !important;
}

