//Fuentes
$titulos:"Roboto Serif", serif;
$parrafos:"Montserrat", sans-serif;


//  fuentes botones
$fuente-boton: 1.125rem;  
$weight-boton: 600; 


// Colores principales
$color-principal: #26364D;      
$azul-activo: #26364D;             
$color-fondo:#ffffff;                
$celeste-default: #E8F3FF;          
$color-footer: rgba(22, 31, 44, 0.9);           

// Espaciado (márgenes y rellenos)
$espaciado-titulo-contenido: 60px;
$espaciado-mismoContenido: 100px ;  //contenido dentro de la misma sección
$espaciado-entre-secciones: 150px;
$espaciado-footer: 200px;
$espaciado-header: 100px;

/* // Bordes y sombras
$radio-borde: ;
$sombra-suave: ;
$sombra-fuerte: ; 

 */

 
//ya se ven en el body, no es necesario declarar en scss
body{
    h1{
        font-family: $titulos;
        font-size: 2.5rem; //40px
        font-weight: 900;
        color:$color-principal !important;
        line-height: 3rem;
    }
    h2{
        font-family: $titulos;
        font-size: 2rem;  //32px
        font-weight: 700;
        color:$color-principal !important;
        line-height: 2.5rem;
        
    }
    h3{
        font-family: $titulos;
        font-size: 1.625rem;  //26px
        font-weight: 600;
        color:$color-principal !important;
        line-height: 2rem;
    }
    h4{
        font-family: $titulos;
        font-size: 1.25rem;  //20px
        font-weight: 500;
        color:$color-principal !important;
        line-height: 1.75rem;
    }
    p, li, label{
        font-family: $parrafos !important;
        font-size: 1rem !important;   //16px
        font-weight: 400 !important;
        color:$color-principal !important;
        line-height: 1.5rem !important;
    }

}