//IMPORT
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
@import "variables";
@import "general";
@import "mixins";
@import "header";
@import "footer";
@import "responsive-h-f";
@import "home";
@import "servicio-contenedores";
@import "categorias";
@import "carrito";
@import "carrito-vacio";
@import "single-producto";
@import "contacto";
@import "quienes-somos";
@import "servicios";
@import "otros";
